<div class="invitacion-container">
  <div>
    <div class="cardHeader">
      <h2 class="titulo">Invitación Especial</h2>

      <!-- Imagen principal (puedes cambiar la fuente de la imagen) -->
      <p><img class="imgPrincipal" src="img.png" alt="Imagen principal"></p>
    </div>

    <div class="card">

      <p class="mensaje">
        Con mucho amor y respeto, queremos invitarles a la misa en memoria de nuestro ser querido
        <strong>{{nombreFallecido}}</strong>, quien nos dejó hace un mes.
      </p>


      <p class="detalles">
        La misa se llevará a cabo el día <strong>{{fechaMisa}}</strong> a las
        <strong>{{horaMisa}}</strong> en la iglesia <strong><a style="text-decoration: none; color:black"
            href="{{linkGoogleMaps}}">{{nombreIglesia}}</a> <a href="{{linkGoogleMaps}}"><i style="color: black;"
              class="fas fa-map-marker-alt"></i> </a></strong>.
      </p>

      <p class="ubicacion">

      </p>

      <p class="agradecimiento">
        Agradecemos de todo corazón su presencia y apoyo en este momento tan difícil para nuestra familia.
      </p>

      <!-- Texto adicional -->
      <p class="agradecimiento">
        Invitan su esposa, hijos, hijas, nietos, nietas, bisnietos, bisnietas, hermanos y demás familiares.
      </p>


      <div class="firma">
        Atentamente,<br />
        <strong>{{nombreFamilia}}</strong>
      </div>
    </div>
  </div>
</div>