<div class="invitacion-container">
  <div>
    <div class="cardHeader">
      <h2 class="titulo">Invitación Religiosa</h2>

      <!-- Imagen principal (puedes cambiar la fuente de la imagen) -->
      <p><img class="imgPrincipal" src="img.png" alt="Imagen principal"></p>
    </div>

    <div class="card">

      <p class="mensaje">
        Al recordar con profundo dolor el primer mes del sensible fallecimiento de quien en vida fue:
      </p>
      <p class="nombreTitulo">
        <strong>{{nombreFallecido.toUpperCase()}}</strong>
      </p>


      <p class="detalles">
        Su esposa, sus padres <strong><i class="fa-solid fa-cross"></i></strong>, hijos, nietos, bisnietos, hermanos y más familiares tienen el honor de invitarles a ser partícipe
        de la eucaristía que por el eterno descanso de su alma se ofrecerá
        el sábado <strong>{{fechaMisa}}</strong> a las
        <strong>{{horaMisa}}</strong> en la Iglesia <strong><a style="text-decoration: none; color:black"
            target="_blank" href="{{linkGoogleMaps}}">{{nombreIglesia}}</a> <a href="{{linkGoogleMaps}}"><i style="color: black;"
              class="fas fa-map-marker-alt"></i> </a></strong>.
      </p>


      <p class="agradecimiento">
        Por su asistencia a este acto de fé cristiana sus deudos quedan eternamente agradecidos.
      </p>


      <div class="firma">
        <strong>Guaranda, septiembre 2024 </strong><br />
        <!-- <strong>{{nombreFamilia}}</strong> -->
      </div>
    </div>
  </div>
</div>